:host {
    display:grid;
    height: 100vh;
    place-items: center;
    overflow: hidden;
    text-align: center;
    background-image: url(/assets/misc/intro-wall.jpg);
    background-size: cover;
}

.title {
    font-size: 5rem;
    color: #ffd54e;
    text-shadow: 0 0 20px black;
    transform: 
        translateY(-80px)
        perspective(100px)
        rotateX(10deg)
    ;
}

a { 
    background-color: lightgreen;
    text-decoration: none;

}

.info {
    display: grid;
    justify-items: left;
    background-color: white;
}